/* CSS Document */

.header {
	height: 270px;
}

#logo {
	position: absolute;
	top: 57px;
	left: 35px;
}

.logoDiv {
	position: absolute;
	top: 44px;
	left: 140px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 91px;
}

.logoDiv h1 {
	font-size: 35pt;
	margin:0;
	padding:0;
	font-weight: normal;
	margin-bottom: 8px;
	color: #EFEFEF;
}

.logoDiv h2 {
	font-size: 10pt;
	margin:0;
	padding:0;
	font-weight: normal;
	margin-left: 5px;
	/*border: 1px dotted blue;*/
}

#screenshot {
	position: absolute;
	right: 2px;
	top: 1px;
}


.header .menu {
	left: 0;
}


/* Page ************************************************/
.page {
	margin-top: 50px;
}


.col {
	display: table-cell;
	color: #5C5C5C;
	font-size: 10pt;
}


li {
	margin-bottom: 4pt;
}

