---
layout: default
title: Razor-qt - Screenshots
menuItem: Screenshots

images_05:
  - preview:     0.5.0-razor-about.png
    full:        0.5.0-razor-about.png
    description: Razor-qt 0.5. Default theme

  - preview:     0.5.0-razor-config-appearance.png
    full:        0.5.0-razor-config-appearance.png
    description: Razor-qt 0.5. Appearance Configuration

  - preview:     0.5.0-razor-config-session.png
    full:        0.5.0-razor-config-session.png
    description: Razor-qt 0.5. Session Configuration


  - preview:     0.5.0-razor-config-suspend.png
    full:        0.5.0-razor-config-suspend.png      
    description: Razor-qt 0.5. Auto suspend Configuration

  - preview:     0.5.0-razor-config.png
    full:        0.5.0-razor-config.png          
    description: Razor-qt 0.5. Configuration Center

  - preview:     0.5.0-razor-notification.png
    full:        0.5.0-razor-notification.png        
    description: Razor-qt 0.5. Notifications

images_04:
  - preview:     razor-config-appearance.png
    full:        razor-config-appearance.png
    description: Razor-qt 0.4. Appearance Configuration

  - preview:     razor-config-session.png
    full:        razor-config-session.png
    description: Razor-qt 0.4. Session Configuration

  - preview:     razor-runner.png
    full:        razor-runner.png
    description: Razor-qt 0.4. Runner program

images_03:    
  - preview:     01.Desktop.png
    full:        01.Desktop.png
    description: Razor-qt 0.3. Default theme.

  - preview:     02.About-green.png
    full:        02.About-green.png
    description: Razor-qt 0.3. Abut dialog. Green theme.

  - preview:     a-mego.png
    full:        a-mego.png
    description: Razor-qt 0.3. A-MEGO theme.

  - preview:     03.Menu.png
    full:        03.Menu.png
    description: Razor-qt 0.3. Applications menu.

  - preview:     04.Taskmenu.png
    full:        04.Taskmenu.png
    description: Razor-qt 0.3. Taskmenu.

  - preview:     05.AddPlugin-green.png
    full:        05.AddPlugin-green.png
    description: Razor-qt 0.3. Adding plugin dialog.

  - preview:     06.EditDesktopMenu.png
    full:        06.EditDesktopMenu.png
    description: Razor-qt 0.3. Desktop menu

  - preview:     07.Razor-0.3-xinerama-green.png
    full:        07.Razor-0.3-xinerama-green.png
    description: Razor-qt 0.3 running in dualhead/xinerama environment
       
---
<h1>Razor-qt screenshots</h1>

<h2>Razor-qt 0.5 version</h2>
<div>{% include gallery.html images=page.images_05 group="screenshots" %}</div>

<h2>Razor-qt 0.4 version</h2>
<div>{% include gallery.html images=page.images_04 group="screenshots" %}</div>

<h2>Razor-qt 0.3 version</h2>
<div>{% include gallery.html images=page.images_03 group="screenshots" %}</div>

