{% include html_head.html %}
<body>
    <div class=top>
        <div class=header>
            <div class=logoDiv>
                <a href="/"><h1 class=title>Razor-qt</h1></a>
                <h2>The free and open source lightweight<br>desktop environment</h2>
            </div>

            <a href="/" style="text-decoration: none;"><img id=logo src="imgs/logo.png"></a>

            <a href='screenshots/'><img id=screenshot src="imgs/screenshot.png" ></a>

            {% include menu.html %}
        </div>
    </div>

    <div id="content">
        <div class=page>
            <div class="col" style="width: 35%; padding-right: 50px;">
                {% for post in site.categories.releases limit 5 %}{{ post.content }}{% endfor %}
            </div>
            <div class="col" style="width: 35%; padding-right: 50px;">{{ content }}</div>
            <div class="col" style=""><h2>Get Razor-qt</h2>
            Get the latest stable version of Razor-qt for your operating system.
            {% for post in site.categories.install %}<div class=installInfo>{{ post.content }}</div>{% endfor %}
            
            <hr>
            <div class=installInfo>
                <img src='imgs/distros/live.png'> 
                    Live Images <a href="/live/">available Here</a><br>
                </div>            
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>
</html>